---
layout: layouts/base-en-simple.njk
---

<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--top">

    <div class="fr-col-12 fr-col-md-8">
        <h1>{{ title }}</h1>

        {{ content | safe }}
    </div>
</div>
