---
layout: layouts/ecodesign-framework.njk
lang: en
title: "RGESN translation in English: Ecodesign framework"
image: /img/referentiel-ecoconception.png
description: Référentiel mené dans le cadre de la mission interministérielle numérique écoresponsable et co-pilotée par la Direction interministérielle du numérique (DINUM), le Ministère de la Transition Écologique, l’ADEME et l’Institut du Numérique Responsable.
type: publication
focus: true
date: 2022-11-28
pagination:
  data: en-fr
  size: 1000
  alias: critere
eleventyNavigation:
  key: ecodesign-framework
  parent: publications
  title: "Ecodesign framework (English translation of RGESN)"
  date: 2022-11-28
  image: /img/referentiel-ecoconception.png
  order: 90
---

<dl>
<dt>Permalink - translation from <a href="https://github.com/DISIC/MiNumEco/pull/99">MiNumEco PR#99</a></dt>
<dd><a href="/publications/ecodesign-framework/">RGESN translation in English: Ecodesign framework</a></dd>
<dt>Original in French</dt>
<dd><a lang="fr" href="https://ecoresponsable.numerique.gouv.fr/publications/referentiel-general-ecoconception/">Référentiel général d'écoconception de services numériques (RGESN)</a></dd>
<dt>CSV export</dt>
<dd><a href="/publications/ecodesign-framework/export/ecodesign-framework-version-v1.csv">ecodesign framework version v1 (CSV, 132kB)</a></dd>
</dl>


<nav class="fr-summary" role="navigation" aria-labelledby="fr-summary-title">
    <div class="fr-summary__title" id="fr-summary-title">Sommaire</div>
    <ol class="fr-summary__list">
    {% set thematique = null %}
    {%- for item in pagination.items %}
      {% if item.thematique_en != thematique %}
        {% set thematique = item.thematique_en %}
        <li>
          <a class="fr-summary__link" href="#{{ thematique | slug }}">{{ thematique }} – <span lang="fr">{{ item.thematique_fr }}</span></a>
        </li>
      {% endif %}
    {% endfor %}
    </ol>
</nav>

{% set thematique = null %}

{%- for item in pagination.items %}
  {% if item.thematique_en != thematique %}
    {% if null != thematique %}</ul>{% endif %}
    {% set thematique = item.thematique_en %}
    <h2 id="{{ thematique | slug }}">{{ thematique }} – <span lang="fr">{{ item.thematique_fr }}</span></h2>
    <p class="fr-text--sm">{{ metadata.referentielEcoconception.thematique[item.thematique_fr | slug].description_en }}</p>
    <div lang="fr">
      <p class="fr-text--sm">{{ metadata.referentielEcoconception.thematique[item.thematique_fr | slug].description_fr }}</p>
    </div>
    <ul class="fr-accordions-group">
  {% endif %}

  <li>
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-{{ item.numero_en }}"><div>{{ item.numero_en }}</div><div>{{ item.critere_en }}</div><div lang="fr">{{ item.critere_fr }}</div></button>
      </h3>
      <div class="fr-collapse" id="accordion-{{ item.numero_en }}">
        <p><b>Goal</b> – <span lang="fr">Objectif</span></p>

        <div class="fr-highlight"><div>{{ item.objectif_en | markdown | safe }}</div><div lang="fr">{{ item.objectif_fr | markdown | safe }}</div></div>

        <p><b>Implementation</b> – <span lang="fr">Mise en œuvre</span></p>

        <div class="fr-highlight"><div>{{ item.miseEnOeuvre_en | markdown | safe }}</div><div lang="fr">{{ item.miseEnOeuvre_fr | markdown | safe }}</div></div>

        <p><b>Assessment methodology</b> – <span lang="fr">Moyen de test ou de contrôle</span></p>

        <div class="fr-highlight"><div>{{ item.controle_en | markdown | safe }}</div><div lang="fr">{{ item.controle_fr | markdown | safe }}</div></div>

        <p><a href="/publications/ecodesign-framework/critere/{{ item.numero_en | slug }}/" class="fr-link fr-fi-arrow-right-line fr-link--icon-left">Permalink</a></p>
      </div>
    </section>
  </li>
{% endfor -%}
</ul>
